@model Products.WebModel.ViewModels.Common.BackChevronViewModel

<div class="row">
    <div class="col-xs-12 gap mobile-only-gap-top-xxxl">
        @Html.Partial("_BackChevron", Model)
        @Html.Partial("_StepCounter")
    </div>
</div>
