@using Products.WebModel.Resources.Broadband
@using Products.WebModel.Resources.Common
<div class="modal" id="when-do-i-pay-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content centered">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="@Common_Resources.CloseButtonTitle">
                    @Common_Resources.CloseButtonLabel
                </button>
            </div>
            <div class="modal-body">
                <h2>@BankDetailsCommon_Resources.WhenDoIPayPopupTextHeader</h2>
                <p>@BankDetailsCommon_Resources.WhenDoIPayPopupText</p>
            </div>
        </div>
    </div>
</div>
