@using Products.WebModel.Resources.Energy
<div id="HowDoWeKnowModal1" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal-title modal-body">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content centered">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="@Summary_Resources.ModalCloseButtonAlt">
                   X
                </button>
            </div>
            <div class="modal-body">
                <h2>@Summary_Resources.ModalMeterDetailsHeader</h2>
                <p id="modal-body">@Summary_Resources.ModalMeterDetailsMessage</p>
            </div>
        </div>
    </div>
</div>