@model Products.WebModel.ViewModels.Energy.NewInstallationViewModel

<div class="box-info-fully-rounded rounded-corners">
    <h3>@Model.InstallationHeader</h3>
    <p>@Model.InstallationText</p>
</div>
