<?xml version="1.0"?>
<connectionStrings>
  <add name="tcData.DbConnection" providerName="System.Data.SqlClient" connectionString="Data Source=VMNWT107;Initial Catalog=TC_Data2;UID=ecomadmin; PWD=Xppass2003" />
  <add name="CSGatewayProfiles.DbConnection" providerName="System.Data.SqlClient" connectionString="Data Source=VMNWT208;Initial Catalog=CsGatewayServices_Profiles;UID=ecomadmin;PWD=Xppass2003" />
  <add name="eComAudit.DbConnection" providerName="System.Data.SqlClient" connectionString="Data Source=VMNWT208;Initial Catalog=eComAudit;UID=ecomadmin;PWD=Xppass2003" />
  <add name="PersonalProjection.DbConnection" providerName="System.Data.SqlClient" connectionString="Data Source=VMNWT056\D1;Initial Catalog=PersonalProjection;UID=ecomadminctc;PWD=Xppass2003"/>
  <add name="ReDevProj.DbConnection" providerName="System.Data.SqlClient" connectionString="Data Source=VMNWT107;Initial Catalog = Redev_Proj;UID=ecomadmin;PWD=Xppass2003" />
</connectionStrings>
