<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="SSENuget" value="http://nuget.uk.ssegroup.net/nuget/" />
    <add key="SSEAPIClient" value="https://vsosse.pkgs.visualstudio.com/_packaging/Retail.Digital/nuget/v3/index.json" />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
  </disabledPackageSources>
</configuration>