@using Products.Web.Helpers
@using Products.WebModel.Resources.Common

<div class="additional-info secure-logo gap-top hidden-xs">
    <p>@BankDetailsCommon_Resources.SecureLogoText</p>
    <img src="@($"{WebClientHelper.Instance.BaseUrl}/Content/Images/secure-logo.png")" />
</div>