@using Products.WebModel.Resources.Common
@{
    ViewBag.Title = Resources.TechFaultTitle;
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>@Resources.TechFaultHeader</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-11 col-md-8 gap">
            <p class="gap">@Resources.TechFaultParagraph</p>
            <p>@Resources.TechFaultParagraph2</p>
        </div>
    </div>
</div>