.pageWrap {
  background-image: none !important;
}
.svg-logo {
  max-width: 200px;
}
.img-svg {
  max-width: 200px;
  max-height: 200px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3e%3cpath fill='%23ddd' d='m0 0h8v16h8V8H0z' /%3e%3c/svg%3e");
}
.img-svg-small img {
  max-width: 74px !important;
  max-height: 74px !important;
}
#main-content {
  padding-top: 48px;
}
.vertical-grid {
  background-image: url("data:image/svg+xml;charset=UTF-8,%EF%BB%BF%3Csvg xmlns='http://www.w3.org/2000/svg' width='999' height='24' viewBox='0 0 999 24'%3E%3Cg fill='none' stroke-width='1' %3E%3Cpath stroke='%23aaa' d='M0 .5 H999' /%3E%3Cpath stroke='%23eee' d='M0 8.5 H999 M0 16.5 H999' /%3E%3C/g%3E%3C/svg%3E");
  background-repeat: repeat;
  background-position: 0 28px;
  background-size: auto;
}
.vertical-grid * {
  opacity: .96;
}
.style-guide-menu {
  min-height: 100vh;
  padding-top: 32px;
  background-color: #004687;
  color: white;
}
.style-guide-menu h1,
.style-guide-menu h2,
.style-guide-menu h3,
.style-guide-menu h4 {
  color: white;
}
#style-guide-navigation,
#style-guide-navigation ul {
  list-style: none;
  margin: 0 0 .5em;
  padding: 0;
}
#style-guide-navigation li {
  padding: 0;
  font-weight: normal;
}
#style-guide-navigation > li {
  padding: .5em 0 0;
  font-weight: bold;
  color: #B2D235;
  text-transform: capitalize;
}
#style-guide-navigation > li li:first-child {
  padding-top: .5em;
}
#style-guide-navigation button {
  min-width: 80%;
  text-align: left;
}
.box {
  text-align: center;
  padding: 2em .2em;
}
.box-dark {
  background-color: #004687;
  color: white;
  border-radius: 3px;
}
.brand {
  border-radius: 12px;
  color: white;
  padding: 2em .2em;
  margin-bottom: 1em;
  text-align: center;
}
.brand-primary {
  background-color: #004687;
}
.brand-primary-alt {
  background-color: #2B7BB9;
}
.brand-primary-light {
  background-color: #A0C6E9;
  color: #212121;
}
.brand-primary-pale {
  background-color: #E9F2F9;
  color: #212121;
}
.brand-secondary {
  background-color: #469638;
}
.brand-secondary-dark {
  background-color: #004B1C;
}
.brand-secondary-light {
  background-color: #B2D235;
  color: #212121;
}
.brand-white {
  background-color: #FFFFFF;
  color: #212121;
}
.brand-light {
  background-color: #F5F5F5;
  color: #212121;
}
.brand-mid-light {
  background-color: #BDBDBD;
  color: #212121;
}
.brand-mid-dark {
  background-color: #616161;
}
.brand-dark {
  background-color: #212121;
}
.brand-alert {
  background-color: #FFB100;
  color: #212121;
}
.brand-error {
  background-color: #E62128;
}
.gradient-energy-1 {
  background-color: #469638;
}
.gradient-energy-2 {
  background-color: #47C242;
}
.gradient-energy-3 {
  background-color: #B3FF00;
  color: #212121;
}
.gradient-energy {
  background-color: #47C242;
  background-image: linear-gradient(to right, #469638, #47C242, #B3FF00);
}
.gradient-home-1 {
  background-color: #AD0000;
}
.gradient-home-2 {
  background-color: #FF6600;
}
.gradient-home-3 {
  background-color: #FF8000;
}
.gradient-home {
  background-color: #FF6600;
  background-image: linear-gradient(to right, #AD0000, #FF6600, #FF8000);
}
.gradient-telco-1 {
  background-color: #49115C;
}
.gradient-telco-2 {
  background-color: #660066;
}
.gradient-telco-3 {
  background-color: #CE26CD;
}
.gradient-telco {
  background-color: #660066;
  background-image: linear-gradient(to right, #49115C, #660066, #CE26CD);
}
.gradient-sse-1 {
  background-color: #004687;
}
.gradient-sse-2 {
  background-color: #4099D4;
}
.gradient-sse-3 {
  background-color: #47C242;
}
.gradient-sse {
  background-color: #4099D4;
  background-image: linear-gradient(to right, #004687, #4099D4, #47C242);
}
.button {
  transition: all ease-in-out 0.1s;
}
.button-loading {
  position: relative;
  padding-right: 48px;
}
.button-loading:after,
.button-loading:before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  top: calc(50% - 12px);
  right: 12px;
  opacity: 1;
}
.button-loading:before {
  animation: spin 3.1s linear infinite;
}
.button-loading:after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%EF%BB%BF%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Ccircle cx='12' cy='12' r='10.186' fill='none' opacity='1' stroke='white' stroke-width='3.8' stroke-dasharray='48 16' stroke-linecap='round' /%3E%3C/svg%3E");
  animation: spin 2.3s linear infinite;
}
span.button-loading {
  display: inline-block;
  padding-right: 0;
}
span.button-loading:after,
span.button-loading:before {
  right: 28px;
  z-index: 999;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}